Calculate Variance needed for Negative Log Likelihood. 
- starting from 2009, we use data points from the same week from past years to calculate the mean and the variance. 
- for 2009, it uses past 5 years of data, from the same week
- for 2010, it uses past 6 years of data, again from the same week.

In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv("datetime_data_frame.csv")

In [12]:
#calculate mean and variance for weeks from 2009
df.rename(columns = {"Unnamed: 0": "index"}, inplace= True)
df_from_2009 = df[df["year"] >= 2009] #put a condition in the brackets
idx_list = list(df_from_2009["index"])

df["Mean"] = np.nan
df["Variance"] = np.nan
# idx_list
for idx in idx_list:
    curr_row = df[idx: idx+1]
    current_week = int(curr_row["week"])

    prev_rows = df[:idx] #currentRow+1, to include current row in the df. 
    prev_rows_week_n = prev_rows[prev_rows["week"]==current_week] #df of week n
#     if current_week == 1: 
#         print(prev_rows_week_n)
    if len(prev_rows_week_n)<=1: 
        df_mean = np.nan
        df_variance = np.nan #for edge case (ie week 53)
    else: 
        df_mean= prev_rows_week_n['Disease Rate'].mean()
        df_variance = prev_rows_week_n['Disease Rate'].var()
    df.at[idx, "Mean"] = df_mean
    df.at[idx, "Variance"] = df_variance

df
#mean and variance, verified through calculator.
#for 2009. we use data points from 2004 to 2009 inclusive. to calculate the mean & variance.

,index,year week,year,week,a flu,baby flu,bad flu,chest infection symptoms,child flu,children flu,...,stop coughing,tamiflu,tamiflu dosage,tamiflu side effects,the death cure,what is tamiflu,what to eat when you have the flu,Disease Rate,Mean,Variance
0,0,2004-01-05,2004,1,115.857389,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,18.716703,NaN,NaN
1,1,2004-01-12,2004,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,12.366981,NaN,NaN
2,2,2004-01-19,2004,3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,8.808089,NaN,NaN
3,3,2004-01-26,2004,4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,6.575904,NaN,NaN
4,4,2004-02-02,2004,5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,6.837619,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776,776,2018-11-26,2018,47,357.530206,41.092217,27.220088,60.270243,48.803031,72.338072,...,96.073783,12.137666,0.0,0.0,5.941338,0.0,12.850613,6.175297,9.369950,21.575846
777,777,2018-12-03,2018,48,343.500128,40.303629,25.485104,80.116784,70.849770,102.013875,...,49.510694,24.747760,0.0,0.0,28.375626,0.0,5.905376,7.382408,11.014073,32.646289
778,778,2018-12-10,2018,49,263.128745,38.461304,27.229028,63.119445,43.211300,66.995693,...,85.829489,11.640776,0.0,0.0,21.390838,0.0,0.000000,8.012008,15.194720,213.389960
779,779,2018-12-17,2018,50,255.718530,27.091867,23.554562,54.541822,35.415494,53.011558,...,73.147985,11.724766,0.0,0.0,37.014980,0.0,0.000000,10.447732,20.878752,526.535913
780,780,2018-12-24,2018,51,231.496659,43.243237,23.953619,57.107997,44.482626,47.772066,...,83.435415,5.832661,0.0,0.0,18.211561,0.0,5.797674,9.031604,18.130663,438.320739

In [13]:
df.to_csv("datetime_data_frame_mean_variance.csv", index= False, header= True)

In [14]:
# df_2= pd.read_csv("datetime_data_frame_mean_variance.csv")
# df_2